<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lab04</title>

    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 50px;
        }
    </style>


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/lab04_web_war_exploded/list">User list</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/lab04_web_war_exploded/form">Add User</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron">
        <h1>Add a Product and its details</h1>
    </div>

    <form action="form" method="POST">
        <div class="form-group">
            <label for="name">Product name</label>
            #springFormInput("product.name" "class='form-control' placeholder='type here'")
        </div>
        <div class="form-group">
            <label for="type">Type of the Product </label>
            #springFormInput("product.type" "class='form-control' placeholder='type here'")
        </div>
        <div class="form-group">
            <label for="note">note</label>
            #springFormInput("product.note" "class='form-control' placeholder='type here'")
        </div>
        <div class="form-group">
            <label for="status">status</label>
            #springFormInput("product.status" "class='form-control' placeholder='type here'")
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>


</body>
</html>