<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lab04</title>

    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 50px;
        }
    </style>


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/lab04_web_war_exploded/userlist">User list</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/lab04_web_war_exploded/userform">Add User</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron">
        <h1>List of users</h1>
    </div>


    <table class="table table-striped table-dark">
        <tr>
            <th scope="col">User nz</th>
        </tr>
        #foreach($user in $users)
            <tr>
                <td>$user.name</td>
                <td><a href="$user.id/deleteuser" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                <td><a href="$user.id/seeuser" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a></td>
            </tr>
        #end
    </table>
</div>


</body>
</html>